<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
  <link rel="stylesheet" href="../../styles/common.css" />
  <link rel="stylesheet" href="../../styles/page.css" />
</head>
<body>
  <div class="addBrand-container" id="member-add-app">
    <div class="container">
      <el-form
        ref="ruleForm"
        :model="ruleForm"
        :rules="rules"
        :inline="false"
        label-width="180px"
        class="demo-ruleForm"
      >

        <el-form-item
          label="部门名称:"
          prop="name"
        >
          <el-input
            v-model="ruleForm.name"
            placeholder="请输入部门名称"
            maxlength="20"
            id="name"
          ></el-input>
        </el-form-item>

        <el-form-item
            label="优先级:"
            prop="rank"
        >
          <el-input
            v-model="ruleForm.rank"
            placeholder="请设置部门优先级，越小优先级越高"
            maxlength="20"
            id="rank"
          ></el-input>
        </el-form-item>

        <el-form-item
          label="描述:"
          prop="description"
        >
          <el-input
            v-model="ruleForm.description"
            placeholder="请输入部门描述"
            maxlength="20"
            id="description"
          ></el-input>
        </el-form-item>

        <div class="subBox address">
          <el-form-item>
            <el-button  @click="goBack()">
              取消
            </el-button>
<!--            <el-button-->
<!--              v-if="actionType == 'add'"-->
<!--              type="primary"-->
<!--              class="continue"-->
<!--              @click="submitForm('ruleForm', false)"-->
<!--            >-->
<!--              保存-->
<!--            </el-button>-->
            <el-button
              type="primary"
              @click="submitForm('ruleForm', true)"
            >
              保存并提交
            </el-button>
          </el-form-item>
        </div>
      </el-form>
    </div>
  </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="../../plugins/vue/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="../../plugins/element-ui/index.js"></script>
    <!-- 引入axios -->
    <script src="../../plugins/axios/axios.min.js"></script>
    <script src="../../js/global.js"></script>
    <script src="../../js/request.js"></script>
    <script src="../../api/department.js"></script>
    <script src="../../js/validate.js"></script>
    <script>
      new Vue({
        el: '#member-add-app',
        data() {
          return {
            userInfo: {},
            id: '',
            actionType : '',
            ruleForm : {
                name: '',
                rank: '',
                description: '',
            }
          }
        },
        computed: {
          rules () {
            return {
              name: [{ required: true, 'validator': checkDepName, 'trigger': 'blur' }],
              rank: [{ 'required': true, validator: (rule, value,callback) => checkRank(rule, value, this.userInfo.jobRank,callback), 'trigger': 'blur' }],
            }
          }
        },
        created() {
          this.id = requestUrlParam('id')
          this.actionType = this.id ? 'edit' : 'add'
          if (this.id) {
            this.init()
          }else{
            temp= localStorage.getItem("departmentRuleForm")
            if(temp!=null) this.ruleForm = JSON.parse(temp);
          }
          this.userInfo = JSON.parse(localStorage.getItem('userInfo'))
        },
        mounted() {
        },
        methods: {
          async init () {
            queryDepartmentById(this.id).then(res => {
              console.log(res)
              if (String(res.code) === '1') {
                console.log(res.data)
                this.ruleForm = res.data
                // this.ruleForm.sex = res.data.sex === '0' ? '女' : '男'
                // this.ruleForm.password = ''
              } else {
                this.$message.error(res.msg || '操作失败')
              }
            })
          },
          submitForm (formName, st) {
            this.$refs[formName].validate((valid) => {
              if (valid) {
                // 只保存
                if (!st){
                  localStorage.setItem("departmentRuleForm",JSON.stringify(this.ruleForm))
                }else{
                  // 提交
                  const params = {
                    ...this.ruleForm,
                    'id': this.id
                  }
                  localStorage.removeItem("departmentRuleForm");
                  addDepartment(params).then(res => {
                    var retMsg;
                    if (res.code === 1) {
                      retMsg = this.id ? '部门信息修改成功！':'部门添加成功！'
                      this.$message.success(retMsg);

                      setTimeout(() => {
                        this.goBack();
                      }, 2000);

                    } else {
                      this.$message.error(res.msg || '操作失败')
                    }
                  }).catch(err => {
                    this.$message.error('请求出错了：' + err)
                  })
                }


                // if (this.actionType === 'add') {
                //   const params = {
                //     ...this.ruleForm,
                //     id: this.id
                //   }
                //   addDepartment(params).then(res => {
                //     if (res.code === 1) {
                //       this.$message.success('部门添加成功！')
                //       if (!st) {
                //         this.goBack()
                //       } else {
                //         this.ruleForm = {
                //
                //         }
                //       }
                //     } else {
                //       this.$message.error(res.msg || '操作失败')
                //     }
                //   }).catch(err => {
                //     this.$message.error('请求出错了：' + err)
                //   })
                // } else {
                //   const params = {
                //     ...this.ruleForm
                //   }
                //   editEmployee(params).then(res => {
                //     if (res.code === 1) {
                //       this.$message.success('部门信息修改成功！')
                //       this.goBack()
                //     } else {
                //       this.$message.error(res.msg || '操作失败')
                //     }
                //   }).catch(err => {
                //     this.$message.error('请求出错了：' + err)
                //   })
                // }
              } else {
                console.log('error submit!!')
                return false
              }
            })
          },
          goBack(){
            window.parent.menuHandle({
              id: '2',
              url: './department/list.html',
              name: '部门管理'
            },false)
          }
        }
      })
    </script>
</body>
</html>