<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rbac_demo.dao.JobTitleMapper">


    <sql id="selectFields">
        id, name, rank, description, permissions,create_time, create_user_id,update_time,update_user_id
    </sql>
    <sql id="insertFields">
        name, rank, description, permissions,create_time, create_user_id,update_time,update_user_id
    </sql>

    <!-- keyProperty="id"   会在插入后，主动把自增主键即id的值，回写至 Employee 中 -->
    <insert id="insertOne" parameterType="JobTitle" keyProperty="id">
        INSERT into job_title (<include refid="insertFields"></include>)
        values(#{name},#{rank},#{description}, #{permissions}, #{createTime}, #{createUserId}, #{updateTime}, #{updateUserId})
    </insert>


    <update id="updateOne">
        UPDATE job_title
        <set>
            <trim suffixOverrides=",">
                <if test="name != null">name = #{name},</if>
                <if test="rank != null">rank = #{rank},</if>
                <if test="description != null">description = #{description},</if>
                <if test="permissions != null">permissions = #{permissions},</if>
                <if test="createTime != null">create_time = #{createTime},</if>
                <if test="createUserId != null">create_user_id = #{createUserId},</if>
                <if test="updateTime != null">update_time = #{updateTime},</if>
                <if test="updateUserId != null">update_user_id = #{updateUserId},</if>
            </trim>
        </set>
        WHERE id = #{id} and is_deleted = 0
    </update>

    <update id="updateOneByDel">
        UPDATE job_title
        SET is_deleted = 1
        where id = #{id}
    </update>


    <select id="findJobTitleById" resultType="JobTitle">
        select <include refid="selectFields"> </include>
        from job_title
        where id = #{id}
    </select>

    <select id="selectByPage" resultType="JobTitle">
        select <include refid="selectFields"></include>
        from job_title
        where is_deleted = 0
        <if test="name!=null">
            and name like #{name}
        </if>
    order by create_time desc
    limit #{limit} offset #{offset}
    </select>


    <select id="selectOneById" resultType="JobTitle">
        select <include refid="selectFields"></include>
        from job_title
        where id = #{id}
    </select>

    <select id="selectOneByName" resultType="JobTitle">
        select <include refid="selectFields"></include>
        from job_title
        where name = #{name}
        and is_deleted = 0
    </select>

    <select id="selectLimitById" resultType="JobTitle">
        select d2.id, d2.name, d2.rank, d2.permissions, d2.description,d2.create_time, d2.create_user_id,d2.update_time,d2.update_user_id
        from job_title d1, job_title d2
        where d1.id = #{id} and d1.rank &lt;= d2.rank
    </select>



    <select id="selectAllCount" resultType="Integer">
        select count(1)
        from job_title
        where is_deleted = 0
        <if test="name!=null">
            and name like #{name}
        </if>
        order by create_time desc, update_time desc
    </select>


    <select id="selectOneByIdForUpdate" resultType="JobTitle">
        select <include refid="selectFields"></include>
        from job_title
        where id = #{id}
        for update
    </select>


</mapper>