<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rbac_demo.dao.JobTitleMapper">


    <sql id="selectFields">
        id, name, rank, description, permissions,create_time, create_user_id,update_time,update_user_id
    </sql>
    <sql id="insertFields">
        name, rank, description, permissions,create_time, create_user_id,update_time,update_user_id
    </sql>

    <!-- keyProperty="id"   会在插入后，主动把自增主键即id的值，回写至 Employee 中 -->
    <insert id="insertOne" parameterType="JobTitle" keyProperty="id">
        INSERT into job_title (<include refid="insertFields"></include>)
        values(#{name},#{rank},#{description}, #{permissions}, #{createTime}, #{createUserId}, #{updateTime}, #{updateUserId})
    </insert>


    <update id="updateOne">
        UPDATE job_title
        SET name = #{name}, rank = #{rank},
            description = #{description},permissions = #{permissions},
            create_time = #{createTime}, create_user_id = #{createUserId},
            update_time = #{updateTime}, update_user_id = #{updateUserId}
        WHERE id = #{id}
    </update>

    <delete id="deleteOneById">
        DELETE FROM  job_title
        where id = #{id}
    </delete>


    <select id="findJobTitleById" resultType="JobTitle">
        select <include refid="selectFields"> </include>
        from job_title
        where id = #{id}
    </select>

    <select id="selectByPage" resultType="JobTitle">
        select <include refid="selectFields"></include>
        from job_title
        <if test="name!=null">
        where name like #{name}
    </if>
    order by create_time desc
    limit #{limit} offset #{offset}
    </select>


    <select id="selectOneById" resultType="JobTitle">
        select <include refid="selectFields"></include>
        from job_title
        where id = #{id}
    </select>

    <select id="selectOneByName" resultType="JobTitle">
        select <include refid="selectFields"></include>
        from job_title
        where name = #{name}
    </select>

    <select id="selectLimitById" resultType="JobTitle">
        select d2.id, d2.name, d2.rank, d2.permissions, d2.description,d2.create_time, d2.create_user_id,d2.update_time,d2.update_user_id
        from job_title d1, job_title d2
        where d1.id = #{id} and d1.rank &lt;= d2.rank
    </select>



    <select id="selectAllCount" resultType="Integer">
        select count(1)
        from job_title
        <if test="name!=null">
            where name like #{name}
        </if>
        order by create_time desc, update_time desc
    </select>



</mapper>